<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<div id="header">
    <!--顶部导航START-->
    <div id="top_menu">
        <a href="" class="logo">
            <img src="image/logo.png" alt="logo"/>
        </a>
        <!--菜单列表START-->
        <ul id="menu_list">
            <li>
                <a href="http://www.lagou.com/">首页</a>
            </li>
            <li>
                <a href="http://www.lagou.com/">产品</a>
            </li>
            <li>
                <a href="http://www.lagou.com/">教程</a>
            </li>
            <li>
                <a href="http://www.lagou.com/">讨论</a>
            </li>
        </ul>
        <!--菜单列表END-->
    </div>
</div>
<!--顶部导航END-->
<div id="container">
    <!--导航-->
    <div class="navigation">
        <ul>
            <li class="current">
                <a href="">全部<span class="count">198</span></a>
            </li>
            <li>
                <a href="">HDPHP<span class="count">198</span></a>
            </li>
            <li>
                <a href="">HDCMS<span class="count">198</span></a>
            </li>
            <li>
                <a href="">HDCMS<span class="count">198</span></a>
            </li>
            <li>
                <a href="">HDCMS<span class="count">198</span></a>
            </li>
        </ul>
    </div>
    <!--导航-->
    <!--内容列表START-->
    <div class="content_left">
        <div class="list">
            <ul>
                <li>
                    <div class="list_l">
                        <a class="article" href="http://www.lagou.com/forum/3414.html">
                            【企业端新功能上线说明书】hr们围观啦~~~
                        </a>
                        <span class="c7">vivi</span>
                        ·
                        <span class="c9">1月前 </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="c7">〤易支付Sunshineジ</span>
                        ·
                        <span class="c9">回复于 2天前 </span>
                    </div>
                    <a class="count" href="http://www.lagou.com/forum/3414.html">11</a>
                </li>

                <li>
                    <div class="list_l">
                        <a class="article" href="http://www.lagou.com/forum/3414.html">
                            【企业端新功能上线说明书】hr们围观啦~~~
                        </a>
                        <span class="c7">vivi</span>
                        ·
                        <span class="c9">1月前 </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="c7">〤易支付Sunshineジ</span>
                        ·
                        <span class="c9">回复于 2天前 </span>
                    </div>
                    <a class="count" href="http://www.lagou.com/forum/3414.html">11</a>
                </li>


            </ul>
        </div>
    </div>
    <!--内容列表START-->
    <div class="content_right">
        <div class="publish">
            <a href="#">发表新话题</a>
        </div>
        <!--分享到START-->
        <div class="share">
            <span class="s">分享到：</span>
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_32x32 jiathis" style="float: left;">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>
        <!--分享到END-->
    </div>
</div>
<div id="foot">
    <p>
        <a rel="nofollow" title="关于若邻" target="_blank" href="http://www.wealink.com/about/aboutus.php"> 关于后盾网 </a>
        <i>|</i>
        <a rel="nofollow" title="联系我们" target="_blank" href="http://www.wealink.com/about/contactus.php"> 联系我们 </a>
        <i>|</i>
        <a rel="nofollow" title="加入我们" target="_blank" href="http://www.wealink.com/about/joinus.php"> 加入我们 </a>
        <i>|</i>
        <a class="grayC" rel="nofollow" target="_blank" href="http://www.miibeian.gov.cn/">沪ICP备05050523号</a>
    </p>
    <p>
        Copyright
        <span class="copyright">©</span>
        2005-2014 若邻网

    </p>
</div>
</body>
</html>