<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>文章页</title>
    <link rel="stylesheet" href="css/article.css"/>
    <script type="text/javascript" src="../common/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../common/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../commonbootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div id="top">
    <div class="nav">
        <ul class="site-nav">
            <li>
                <a href="http://segmentfault.com/">问答</a>
            </li>
            <li class="current">
                <a href="http://segmentfault.com/blogs">博客</a>
            </li>
            <li>
                <a href="http://segmentfault.com/tags">标签</a>
            </li>
            <li>
                <a href="http://segmentfault.com/users">用户</a>
            </li>
            <li>
                <a href="http://segmentfault.com/badges">徽章</a>
            </li>
            <li>
                <a href="http://segmentfault.com/events">活动</a>
            </li>
        </ul>
        <ul class="log">
            <li>
                <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
            </li>
            <li>
                <a href="http://segmentfault.com/user/register">注册</a>
            </li>
        </ul>
    </div>
</div>
<!--顶部-->
<div id="wrap">
    <div class="content">
        <h1>
            为什么混血的人没有花色的皮肤？
        </h1>
        <div class="info">
            <a href="#" class="author">闫园园</a>
            <!--帐号信息-->
            <div id="user_info" style="display: none;">
                <img src="image/face.jpg"/><b>df</b>
            </div>
            ·
            <span>浏览：4305 发布日期：2013/08/06 </span>
            <span>分类：</span> <a href="">技术专题</a>
            <a class="reply" href="#content">回复</a>
        </div>
        <p>
            Android是Google公司开发的基于Linux平台的开源手机操作系统,它包括操作系统、中间件、用户界面和应用程序,而且不存在任何以往阻碍移动产业创新的专利权障碍,并由Google公司于2007年11月5日正式发布。同时,Google公司组建了一个开放手机联盟,这个联盟由中国移动、摩托罗拉、高通、宏达电和T-Mobile等在内的全球30多家技术和无线应用的领军企业组成,Google通过与运营商、设备制造商、开发商和其他有关各方结成深层次的合作伙伴关系,希望借助建立标准化、开放式的移动电话软件平台,在移动产业内形成一个开放式的生态系统;可预见地,生产和使用基于Android系统的嵌入式手持移动设备将是未来的发展趋势,对相应软件的需求量也将日趋增长,因此对Android系统内部作一个完整和深入的分析,对基于Android平台的软件移植和开发是很有益处的。
        </p>
    </div>
    <div class="list-right">
        <div class="wrap">
            <h3>热点推荐</h3>
            <ul>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>1小时前</span>
                </li>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>1小时前</span>
                </li>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>1小时前</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>