<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>文章页</title>
    <link rel="stylesheet" href="css/index.css"/>
    <script type="text/javascript" src="../common/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../common/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../common/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div id="top">
    <div class="nav">
        <ul class="site-nav">
            <li>
                <a href="http://segmentfault.com/">问答</a>
            </li>
            <li class="current">
                <a href="http://segmentfault.com/blogs">博客</a>
            </li>
            <li>
                <a href="http://segmentfault.com/tags">标签</a>
            </li>
            <li>
                <a href="http://segmentfault.com/users">用户</a>
            </li>
            <li>
                <a href="http://segmentfault.com/badges">徽章</a>
            </li>
            <li>
                <a href="http://segmentfault.com/events">活动</a>
            </li>
        </ul>
        <ul class="log">
            <li>
                <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
            </li>
            <li>
                <a href="http://segmentfault.com/user/register">注册</a>
            </li>
        </ul>
    </div>
</div>
<!--顶部-->
<div id="wrap">
    <div class="list-article">
        <div class="gbtitle">
            <h4>最新动态</h4>
            <div class="recos">
                <ul>
                    <li>
                        <a href="">洗冷水澡真的能增强免疫力吗？</a>
                    </li>
                    <li>
                        <a href="">无专业医护人员的情况下能否擅自移动伤者？</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-nav">
            <a href="" class="current">最新的</a>
            <a href="">最热的</a>
        </div>
        <div class="article">
            <ul>
                <li class="list">
                    <div class="pic">
                        <img src="image/pic.png" alt=""/>
                    </div>
                    <div class="content">
                        <h2 class="title">
                            <a href="">Web Debelopment with Clojure CH2（1） —— 简介 &amp; Ring</a>
                        </h2>

                        <div class="info">
                            <a href="">
                                <i class="focus"></i> 7小时前
                            </a>
                            &nbsp;
                            <a href="">
                                <i class="comment"></i>8条评论
                            </a>
                        </div>
                    </div>
                    <div class="article-right">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="collection"></i> 1&nbsp;收藏
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="browse"></i>89&nbsp;浏览
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="list">
                    <div class="pic">
                        <img src="image/pic.png" alt=""/>
                    </div>
                    <div class="content">
                        <h2 class="title">
                            <a href="">Web Debelopment with Clojure CH2（1） —— 简介 &amp; Ring</a>
                        </h2>

                        <div class="info">
                            <a href="">
                                <i class="focus"></i> 7小时前
                            </a>
                            &nbsp;
                            <a href="">
                                <i class="comment"></i>8条评论
                            </a>
                        </div>
                    </div>
                    <div class="article-right">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="collection"></i> 1&nbsp;收藏
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="browse"></i>89&nbsp;浏览
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="list">
                    <div class="pic">
                        <img src="image/pic.png" alt=""/>
                    </div>
                    <div class="content">
                        <h2 class="title">
                            <a href="">Web Debelopment with Clojure CH2（1） —— 简介 &amp; Ring</a>
                        </h2>

                        <div class="info">
                            <a href="">
                                <i class="focus"></i> 7小时前
                            </a>
                            &nbsp;
                            <a href="">
                                <i class="comment"></i>8条评论
                            </a>
                        </div>
                    </div>
                    <div class="article-right">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="collection"></i> 1&nbsp;收藏
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="browse"></i>89&nbsp;浏览
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="list">
                    <div class="pic">
                        <img src="image/pic.png" alt=""/>
                    </div>
                    <div class="content">
                        <h2 class="title">
                            <a href="">Web Debelopment with Clojure CH2（1） —— 简介 &amp; Ring</a>
                        </h2>

                        <div class="info">
                            <a href="">
                                <i class="focus"></i> 7小时前
                            </a>
                            &nbsp;
                            <a href="">
                                <i class="comment"></i>8条评论
                            </a>
                        </div>
                    </div>
                    <div class="article-right">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="collection"></i> 1&nbsp;收藏
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="browse"></i>89&nbsp;浏览
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="list">
                    <div class="pic">
                        <img src="image/pic.png" alt=""/>
                    </div>
                    <div class="content">
                        <h2 class="title">
                            <a href="">Web Debelopment with Clojure CH2（1） —— 简介 &amp; Ring</a>
                        </h2>

                        <div class="info">
                            <a href="">
                                <i class="focus"></i> 7小时前
                            </a>
                            &nbsp;
                            <a href="">
                                <i class="comment"></i>8条评论
                            </a>
                        </div>
                    </div>
                    <div class="article-right">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="collection"></i> 1&nbsp;收藏
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="browse"></i>89&nbsp;浏览
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="list">
                    <div class="pic">
                        <img src="image/pic.png" alt=""/>
                    </div>
                    <div class="content">
                        <h2 class="title">
                            <a href="">Web Debelopment with Clojure CH2（1） —— 简介 &amp; Ring</a>
                        </h2>

                        <div class="info">
                            <a href="">
                                <i class="focus"></i> 7小时前
                            </a>
                            &nbsp;
                            <a href="">
                                <i class="comment"></i>8条评论
                            </a>
                        </div>
                    </div>
                    <div class="article-right">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="collection"></i> 1&nbsp;收藏
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="browse"></i>89&nbsp;浏览
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="list">
                    <div class="pic">
                        <img src="image/pic.png" alt=""/>
                    </div>
                    <div class="content">
                        <h2 class="title">
                            <a href="">Web Debelopment with Clojure CH2（1） —— 简介 &amp; Ring</a>
                        </h2>

                        <div class="info">
                            <a href="">
                                <i class="focus"></i> 7小时前
                            </a>
                            &nbsp;
                            <a href="">
                                <i class="comment"></i>8条评论
                            </a>
                        </div>
                    </div>
                    <div class="article-right">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="collection"></i> 1&nbsp;收藏
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="browse"></i>89&nbsp;浏览
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list-right">
        <div class="wrap">
            <h3>热门收藏</h3>
            <ul>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>10个回答</span>
                </li>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>10个回答</span>
                </li>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>10个回答</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--底部-->
<div id="footer">
		Power By NodeJS，本站所有代码的地址在
<a target="_blank" href="https://github.com/xinyu198736/htmljs">这里</a>
浙ICP备12047043号
<a href="/friendlink">友情链接</a>
本站云存储由
<a target="_blank" href="https://www.upyun.com">又拍云存储</a>
提供。
</div>

</body>
</html>