<!--底部-->
<div id="ft">
	<div class="ft-inner">
		<div class="ft-menu"  id="ft-menu">
			 Copyright @ 2011-2015 www.hdphp.com All Right Reserved {$hd.config.webname}
		</div>
		<div class="siteinfo" id="ft-siteinfo">
			<a href="http://www.houdunwang.com"></a>
		</div> 
	</div>
</div>
</body>
 <!--[if IE 6]>
<script type="text/javascript" src="__TEMPLATE__/js/iepng.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*','background');
</script>
<![endif]-->
</html>