<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>会员中心</title>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<div id="top">
    <div class="hd">
        <div class="menu-top">
            <a href="" class="cur">首页</a>
            <a href="">问题</a>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="l-menu">
        <div class="user">
            <div class="avatar">
                <img src="image/avatar.jpg"/>
            </div>
            <p>
                <span class="name">后盾网向军</span>
            </p>

            <p>
                积 分：
                <a href="/u/w/136669900">
                    <i class="weath"></i>
                    10
                </a>
            </p>
        </div>

        <div class="aside-menu">
            <ul>
                <li class="on">
                    <a href="/u/136669900">
                        <i class="m-ach"></i>
                        个人资料
                    </a>
                </li>
                <li>
                    <a href="/u/as/136669900">
                        <i class="m-ask"></i>
                        我的文章
                    </a>
                </li>
                <li>
                    <a href="/u/an/136669900">
                        <i class="m-ans"></i>
                        我的收藏
                    </a>
                </li>
                <li>
                    <a href="/user/noticelist/136669900">
                        <i class="m-msg"></i>
                        我的消息
                    </a>
                    <span class="num">3</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="article">
        <div class="hd clearfix">
            <div class="mod-massage">
                <div class="bd">
                    <div class="notice-tab-card clearfix">
                        <ul>
                            <li class="cur">
                                    <span>
                                    问答消息（
                                    <em>2</em>
                                    ）
                                    </span>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="?pn=0&flag=1">
                                    系统消息（
                                    <em>0</em>
                                    ）
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="c">
                        <div class="item clearfix">
                            <div class="v clearfix ">
                                <div class="summary">
                                    <a href="/q/1387781416066690?ans_id=1387782461069258&append_id=1387782461069258&from=notice">百度与谁赢了，请告诉我？我...</a>
                                </div>
                                <div class="t">2013-12-23 15:11</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>