<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>登录 hdphp.com</title>
    <link rel="stylesheet" href="css/reg.css"/>
    <script type="text/javascript" src="../common/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../common/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../common/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="top">
    <div class="top-menu">
        <a href="" class="logo">后盾网</a>
        <ul>
            <li>
                <a href="">首页</a>
            </li>
            <li>
                <a href="">提问</a>
            </li>
        </ul>
    </div>
</div>
<!--内容主体-->
<div class="reg">
    <div class="info" style="width: 900px;">
        <h1>登录</h1>
        <h4>最专业的web开发技术交流社区</h4>
        <div class="login">
            <form role="form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="email" class="form-control input-lg pull-left" placeholder="Enter 地址">
                        </div>
                        <div class="col-md-4">
                            <input type="password" class="form-control input-lg pull-left" placeholder="登录密码">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-lg">&nbsp;&nbsp;登录&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </form>
            <p>
                没有帐号？请注册
                <a href="">注册</a>
            </p>

        </div>
    </div>
</div>
<!--内容主体-->
</body>
</html>