@import "common.css";
* {
    padding: 0px;
    margin: 0px;
	font-family:
}

ul, ol {
    list-style: none;
}
a,a:hover{
    text-decoration: none !important;
}

body {
    color:#666666;
}

div.top {
    height: 50px;
    background: #F3F6F5;
    margin-bottom: 20px;
	border-bottom:solid 2px #999;
}

div.top-menu {
    width: 900px;
    margin: 0 auto;
    padding-top: 10px;
	height:auto;
	overflow:hidden;
}

div.top-menu a.logo {
    display: block;
    float: left;
    background: url("../../logo.png") no-repeat;
    height:35px;
    width:280px;
    text-indent: -9999px;
}

div.top-menu ul {

}
div.top-menu ul li{
    line-height: 25px;
    float: left;
    margin-right: 20px;
	
}
div.top-menu ul li a {
    color: #666666;
    font-weight: bold;
    font-size: 18px;
}
div.top-menu ul li a:hover{
    color:#128849;
}

div.reg {
    width: 900px;
    margin: 0 auto;
    height: 500px;
    font-weight: bold;
}

div.reg div.info {
    width: 450px;
    float: left;
}
div.reg div.info h1{
    font-weight: bold;
    margin-bottom: 20px;
}
div.reg div.info p a {
    color: #239DDD;
}
div.reg div.info div.reg{
    width:400px;
    float: left;
}





































