<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>{$hdcms.catname}.{$hd.config.webname}</title>
<link rel="stylesheet" href="__TEMPLATE__/css/common.css" />
<link rel="stylesheet" href="__TEMPLATE__/css/list.css" />
</head>
<body>
<load file="__TEMPLATE__/head.html"/>

<!-- 内容区域大盒子开始 -->
<div id="content"> 
  
  <!-- 内容区域左边盒子开始 -->
  <div class="left_box">
    <pagelist row="10">
      <div class="txt_box"> <a href="{$field.url}" class="tit">{$field.title}</a>
        <p class="content"> {$field.description} </p>
      </div>
    </pagelist>
    
    <!--分页-->
    <div id="pagelist">
      <pageshow/>
    </div>
    <!--分页结束--> 
  </div>
  <!-- 内容区域左边盒子结束 -->
  
  <load file="__TEMPLATE__/right.html"/>
</div>
<!-- 内容区域大盒子结束 -->

<load file="__TEMPLATE__/footer.html"/>
</body>
</html>