<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>{$hdcms.title}_{$hd.config.webname}</title>
<link rel="stylesheet" href="__TEMPLATE__/css/common.css" />
<link rel="stylesheet" href="__TEMPLATE__/css/kechengpage.css" />
</head>
<body>
<load file="__TEMPLATE__/head.html"/>

<!-- 内容区域大盒子开始 -->
<div id="content"> 
  
  <!-- 内容区域左边盒子开始 -->
  <div class="left_box">
    <h3>{$hdcms.title}</h3>
    <!--<div class="time"> {$field.time|date:'Y-m-d',@@}</div>-->
    <div class="con_box"> {$hdcms.content} 
      
      <!--百度分享-->
      <div class="fenxiang"> 
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_32x32"> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_renren"></a> <a class="jiathis_button_kaixin001"></a> <a class="jiathis_button_weixin"></a> <a class="jiathis_button_fav"></a> <a class="jiathis_button_douban"></a> <a class="jiathis_button_cqq"></a> <a class="jiathis_button_meilishuo"></a> <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a> <a class="jiathis_counter_style"></a> </div>
        <script type="text/javascript" >
var jiathis_config={
	summary:"",
	shortUrl:false,
	hideMore:false
}
</script> 
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script> 
        <!-- JiaThis Button END --> 
        
      </div>
      <!--百度分享结束--> 
    </div>
  </div>
  <!-- 内容区域左边盒子结束 --> 
  
</div>
<!-- 内容区域大盒子结束 -->

<load file="__TEMPLATE__/footer.html"/>
</body>
</html>