<!-- 内容区域右边盒子开始 -->

<div class="right_box"> 
  
  <!-- 本文相关品牌车系开始 -->
  <div class="atte_box2">
    <div class="tit_public">
      <h3>推荐资讯</h3>
    </div>
    <ul>
      <arclist cid="15,16,17,18,20,24,29,30,25" flag="4,3" row="4">
        <li> <a href="{$field.url}" class="pic"> <img src="{$field.thumb}" alt="" /> </a> <a href="{$field.url}" class="name">{$field.title}</a> </li>
      </arclist>
    </ul>
  </div>
  <!-- 本文相关品牌车系结束-->
  <div class="atte_box3">
    <div class="tit_public">
      <h3>热门资讯</h3>
    </div>
    <ul>
      <arclist flag="3" row="15" cid="15,16,17,18,20,21,22,23,24,26,27,29,30,25">
      <li> <a href="{$field.url}">{$field.title}</a></li>
      </arclist>
    </ul>
  </div>
</div>
<!-- 内容区域右边盒子结束 --> 