<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{$hdcms.title}</title>
    <jquery/>
    <bootstrap/>
    <link rel="stylesheet" href="__TEMPLATE__/css/article.css"/>
    <jsconst/>
</head>
<body>
<div id="top">
    <div class="nav">
        <ul class="site-nav">
            <nav aid="1,2,3">
                <li>
                    <a href='{$field.url}'>{$field.title}</a>
                </li>
            </nav>
        </ul>
        <ul class="log">
            <li>
                <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
            </li>
            <li>
                <a href="http://segmentfault.com/user/register">注册</a>
            </li>
        </ul>
    </div>
</div>
<!--顶部-->
<div id="wrap">
    <div class="content">
        <h1>
            {$hdcms.title}
        </h1>

        <div class="info">
            <a href="#" class="author">{$hdcms.author}</a>
            <!--帐号信息-->
            <div id="user_info" style="display: none;">
                <img src="image/face.jpg"/><b>df</b>
            </div>
            ·
            <span>浏览：{$hdcms.click} 发布日期：{$hdcms.time} </span>
            <span>分类：</span> <a href="">{$hdcms.catname}</a>
            <a class="reply" href="#content">回复</a>
        </div>
        <p>
            {$hdcms.content}
        </p>


    </div>
    <div class="list-right">
        <div class="wrap">
            <h3>热点推荐</h3>
            <ul>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>1小时前</span>
                </li>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>1小时前</span>
                </li>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>1小时前</span>
                </li>
            </ul>
        </div>
    </div>
    <!--评论-->
    <link type="text/css" rel="stylesheet" href="__GROUP__/Plugin/Comment/Tpl/css/comment.css"/>
    <script type="text/javascript" src="__GROUP__/Plugin/Comment/Tpl/js/comment.js"></script>
    <div class="comment">
        <div id="hdcms-comment">
            <div class="hd">评论</div>
            <div id="comment-list">

            </div>
        </div>
        <div class="hd">我来评论 <a href="javascript:;">查看更多>></a></div>
        <form action="__WEB__?g=Plugin&a=Comment&c=Comment&m=add" method="post" onsubmit="return send_comment(1);">
            <input type="hidden" name="mid" value="{$hdcms.mid}"/>
            <input type="hidden" name="cid" value="{$hdcms.cid}"/>
            <input type="hidden" name="aid" value="{$hdcms.aid}"/>
            <input type="hidden" name="title" value="{$hdcms.title}"/>

            <div class="comment-content">
                <textarea name="content" id="example" placeholder="我也来说两名..."></textarea>
                <div></div>
                <div class="btn btn-success btn-sm" data-answer-id="722">
                    <input type="submit" class="btn btn-success btn-sm" value="发表"/></div>
            </div>
        </form>
    </div>
</div>
</div>
<script type="text/javascript">
    function load_comment(start) {
        //起始数，首次为0
        var start = start ? start : 0;
        $.post(WEB + '?g=Plugin&a=Comment&c=Comment&m=load_comment', {start: start}, function (data) {
            $("#comment-list").append(data);
        })
    }
    load_comment(0);
    /**
     * 发表评论
     * @param comment_id
     */
    function send_comment(comment_id) {
        var _data = $("form#" + comment_id).serialize();
        $.post(CONTROL + '&m=add', _data, function (json) {
            var options = {
                //提示信息
                content: json.message,
                placement: 'top',
                delay: { show: 500, hide: 100 }
            }
            $('#example').popover(options);
            setTimeout(function () {
                $('#example').popover('hide');
            }, 3000);
        }, 'json');
    }

</script>
</body>
</html>