<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{$hd.config.webname}</title>
    <jquery/>
    <bootstrap/>
    <link rel="stylesheet" href="__TEMPLATE__/css/index.css"/>
</head>
<body>
<div id="top">
    <div class="nav">
        <ul class="site-nav">
            <nav aid="1,2,3">
                <li>
                    <a href='{$field.url}'>{$field.title}</a>
                </li>
            </nav>
        </ul>
        <ul class="log">
            <li>
                <a id="login-link" href="__ROOT__?login">登录</a>
            </li>
            <li>
                <a href="__ROOT__?reg">注册</a>
            </li>
        </ul>
    </div>
</div>
<!--顶部-->
<div id="wrap">

    <div class="list-article">
        <div id="ad">HDPHP.COM是开源技术交流与HDPHP及HDCMS项目交流平台</div>
        <div class="gbtitle">
            <h4>动态</h4>
            <div class="recos">
                <ul>
                    <arclist cid="3" row="3">
                        <li>
                            <a href='{$field.url}'>{$field.title}</a>
                        </li>
                    </arclist>
                </ul>
            </div>
        </div>
        <div class="tab-nav">
            <a href="" class="current">最新的</a>
            <a href="">最热的</a>
        </div>
        <div class="article">
            <ul>
                <li class="list">
                    <div class="pic">
                        <img src="__TEMPLATE__/image/pic.png" alt=""/>
                    </div>
                    <div class="content">
                        <h2 class="title">
                            <a href="">Web Debelopment with Clojure CH2（1） —— 简介 &amp; Ring</a>
                        </h2>

                        <div class="info">
                            <a href="">
                                <i class="focus"></i> 7小时前
                            </a>
                            &nbsp;
                            <a href="">
                                <i class="comment"></i>8条评论
                            </a>
                        </div>
                    </div>
                    <div class="article-right">
                        <ul>
                            <li>
                                <i class="collection"></i> 1&nbsp;收藏
                            </li>
                            <li>
                                <i class="browse"></i>89&nbsp;浏览
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list-right">
        <div class="wrap">
            <h3>热门收藏</h3>
            <ul>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>10个回答</span>
                </li>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>10个回答</span>
                </li>
                <li>
                    <a href="">github中可以访问系统粘贴板里的图片是怎么实现的？</a>
                    <span>10个回答</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--底部-->
<div id="footer">



		Power By <a href="http://www.hdphp.com">HDPHP</a> &
    <a href="http://www.hdcms.com">HDCMS</a>
&nbsp;&nbsp;
备案号：{$hd.config.icp}  &nbsp;&nbsp;
本站由
<a target="_blank" href="https://www.houdunwang.com">后盾网</a>
提供技术支持。
</div>

</body>
</html>