<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$hdcms.title}-{$hd.config.webname}</title>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <css file="__TEMPLATE__/css/article_default.css"/>
    <jquery/>
</head>
<body>
<div class="top">
    <div class="top_warp">
        <div class="logo">
            <a href="__ROOT__">
                <img src="__TEMPLATE__/image/member_logo.png" alt=""/>
            </a>
        </div>
        <div class="top_menu">
            <div class="top_menu">
                <include file="__TEMPLATE__/block/header.html"/>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="position">
        <div class="location">
            <location/>
        </div>
        <div class="message">
            欢迎加群：166421499 进行使用交流！
        </div>
        <div class="search">
            <form action="__ROOT__/index.php?g=Addons&m=Search" method="post">
                <input type="text" name="wd" placeholder="输入搜索内容..."/>
                <input type="submit" value="提交"/>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="header">
            {$hdcms.title}
        </div>
        <div class="info">
            作者：{$hdcms.username}  发布日期：{$hdcms.addtime|date:'Y-m-d',@@}
            点击数：<script type="text/javascript" src="{|U:'Index/Index/getClick',array('mid'=>$hdcms['mid'],'cid'=>$hdcms['cid'],'aid'=>$hdcms['aid'])}"></script>
           <a href="{|U:'Member/Favorite/add',array('mid'=>$hdcms['mid'],'cid'=>$hdcms['cid'],'aid'=>$hdcms['aid'])}">加入收藏</a>
        </div>
        <div class="body">
            {$hdcms.content}
        </div>
        <div class="pre_next">
            <pagenext pre="上一篇: " next="下一篇: " type='pre,next'/>
        </div>
    </div>
    <div class="menu">
        <dl>
            <dt>文章管理</dt>
            <channel type="self" class="cur">
                <dd><a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a></dd>
            </channel>
        </dl>
    </div>
</div>
<div class="copyright">
    {$hd.config.copyright}
</div>
</body>
</html>