<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <css file="__TEMPLATE__/css/article_default.css"/>
    <jquery/>
    <bootstarp/>
</head>
<body>
<div class="top">
    <div class="top_warp">
        <div class="logo">
            <a href="__ROOT__">
                <img src="__TEMPLATE__/image/member_logo.png" alt=""/>
            </a>
        </div>
        <div class="top_menu">
            <div class="top_menu">
                <channel type="top" class="cur">
                    <a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a>
                </channel>
                <a href="{$field.caturl}" class="login">
                    <img src="__ROOT__/HDCMS/Static/image/user.png" class="user"/>
                    未登录
                </a>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="position">
        <div class="location">
            <location/>
        </div>
        <div class="message">
            欢迎加群：166421499 进行使用交流！
        </div>
        <div class="search">
            <form action="">
                <input type="text" name="search_word" placeholder="输入内容内容..."/>
                <input type="submit" value="提交"/>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="header">
            {$hdcms.title}
        </div>
        <div class="info">
          作者：{$hdcms.username}  发布日期：{$hdcms.addtime|date:'Y-m-d',@@}  点击数：{$hdcms.click}
        </div>
        <div class="body">
            {$hdcms.content}
        </div>
    </div>
    <div class="menu">
        <dl>
            <dt>文章管理</dt>
            <channel type="self" class="cur">
                <dd><a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a></dd>
            </channel>
        </dl>
    </div>
</div>
<div class="copyright">
    ©2014 HDPHP&HDCMS来自<a href="http://www.houdunwang.com">后盾网</a> | 唯一教育机构推出的开源产品
</div>
</body>
</html>