<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <css file="__TEMPLATE__/css/article_default.css"/>
    <jquery/>
    <bootstarp/>
</head>
<body>
<div class="top">
    <div class="top_warp">
        <div class="logo">
            <a href="__ROOT__">
                <img src="__TEMPLATE__/image/member_logo.png" alt=""/>
            </a>
        </div>
        <div class="top_menu">
            <div class="top_menu">
                <channel type="top" class="cur">
                    <a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a>
                </channel>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="position">
        <div class="location">
            <a href="http://www.shuipfcms.com/" target="_blank">首页</a> &gt; <a
                href="http://www.shuipfcms.com/help/">帮助</a> &gt; <a
                href="http://www.shuipfcms.com/help/use/">安装使用</a>
        </div>
        <div class="message">
            欢迎加群：166421499 进行使用交流！
        </div>
        <div class="search">
            <form action="">
                <input type="text" name="search_word" placeholder="输入内容内容..."/>
                <input type="submit" value="提交"/>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="header">
            我的文章
        </div>
        <div class="info">
            发布日期：2014-07-24 20:41:02分类：安装使用点击数：131
        </div>
        <div class="body">
            官网扩展中的模块，和插件是在那里获取的？第一次用的人可能比较迷糊，不清楚。

            其实只要登录后台，进入如下界面：
        </div>
    </div>
    <div class="menu">
        <dl>
            <dt>文章管理</dt>
            <dd><a href="" class="cur">我的文章</a></dd>
            <dd><a href="">发表文章</a></dd>
            <dd><a href="">我的收藏</a></dd>
        </dl>
    </div>
</div>
<div class="copyright">
    ©2014 HDPHP&HDCMS来自<a href="http://www.houdunwang.com">后盾网</a> | 唯一教育机构推出的开源产品
</div>
</body>
</html>