<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$hdcms.catname}-{$hd.config.webname}</title>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <css file="__TEMPLATE__/css/article_list.css"/>
    <jquery/>
</head>
<body>
<div class="top">
    <div class="top_warp">
        <div class="logo">
            <a href="__ROOT__">
                <img src="__TEMPLATE__/image/member_logo.png" alt=""/>
            </a>
        </div>
        <div class="top_menu">
            <div class="top_menu">
                <include file="__TEMPLATE__/block/header.html"/>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="position">
        <div class="location">
            <location/>
        </div>
        <div class="message">
            欢迎加群：166421499 进行使用交流！
        </div>
        <div class="search">
            <form action="__ROOT__/index.php?g=Addons&m=Search" method="post">
                <input type="text" name="wd" placeholder="输入搜索内容..."/>
                <input type="submit" value="提交"/>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="list">
            <div class="header">
                {$hdcms.catname}
            </div>
            <div class="article">
                <ul>
                    <pagelist row="10">
                    <li>
                        <div class="thumb">
                           <a href="{$field.url}">
                               <img src="{$field.thumb}"/>
                           </a>
                        </div>
                        <div class="news">
                            <p class="title">
                                <a href="{$field.url}">{$field.title|mb_substr:0,60,'utf-8'}</a>
                            </p>

                            <p class="addtime">
                                <a href="{$field.caturl}">{$field.catname}</a> | {$field.username}
                                <em>最后更新于 {$field.addtime|date:'Y-m-d h:i:s',@@}</em>
                            </p>

                            <p class="description">
                                {$field.description}
                            </p>
                            <div class="tag">
                                tag: <script type="text/javascript" src="{|U:'Index/Index/getTag',array('mid'=>$field['mid'],'aid'=>$field['aid'])}"></script>
                            </div>
                        </div>
                        <div class="click">
                            {$field.click}
                        </div>
                    </li>
                    </pagelist>
                </ul>
                <div class="page">
                    <pageshow/>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <dl>
            <dt>文章管理</dt>
            <channel type="self" class="cur">
                <dd><a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a></dd>
            </channel>
        </dl>
    </div>
</div>
<div class="copyright">
    {$hd.config.copyright}
</div>
</body>
</html>