<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <css file="__TEMPLATE__/css/article_list.css"/>
    <jquery/>
    <bootstarp/>
</head>
<body>
<div class="top">
    <div class="top_warp">
        <div class="logo">
            <a href="__ROOT__">
                <img src="__TEMPLATE__/image/member_logo.png" alt=""/>
            </a>
        </div>
        <div class="top_menu">
            <div class="top_menu">
                <channel type="top" class="cur">
                    <a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a>
                </channel>
                <a href="{$field.caturl}" class="login">
                    <img src="__ROOT__/HDCMS/Static/image/user.png" class="user"/>
                    未登录
                </a>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="position">
        <div class="location">
            <location/>
        </div>
        <div class="message">
            欢迎加群：166421499 进行使用交流！
        </div>
        <div class="search">
            <form action="">
                <input type="text"/>
                <input type="submit"/>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="list">
            <div class="header">
                {$hdcms.catname}
            </div>
            <div class="article">
                <ul>
                    <pagelist row="1">
                        <li>
                            <div class="thumb">
                                <a href="{$field.url}">
                                    <img src="{$field.thumb}"/>
                                </a>
                            </div>
                            <div class="news">
                                <p class="title">
                                    <a href="{$field.url}">{$field.title}</a>
                                </p>

                                <p class="addtime">
                                    <a href="{$field.caturl}">{$field.catname}</a> | {$field.username}
                                    <em>最后更新于 {$field.addtime|date:'Y-m-d h:i:s',@@}</em>
                                </p>

                                <p class="description">
                                    {$field.description}
                                </p>
                            </div>
                            <div class="click">
                                {$field.click}
                            </div>
                        </li>
                    </pagelist>
                </ul>
                <div class="page">
                    <pageshow/>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <dl>
            <dt>文章管理</dt>
            <channel type="son" class="cur" cid="4">
                <dd><a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a></dd>
            </channel>
        </dl>
    </div>
</div>
<div class="copyright">
    ©2014 HDPHP&HDCMS来自<a href="http://www.houdunwang.com">后盾网</a> | 唯一教育机构推出的开源产品
</div>
</body>
</html>