<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <css file="__TEMPLATE__/css/image_list.css"/>
    <jquery/>
    <bootstarp/>
</head>
<body>
<div class="top">
    <div class="top_warp">
        <div class="logo">
            <a href="__ROOT__">
                <img src="__TEMPLATE__/image/member_logo.png" alt=""/>
            </a>
        </div>
        <div class="top_menu">
            <div class="top_menu">
                <channel type="top" class="cur">
                    <a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a>
                </channel>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="position">
        <div class="location">
            <a href="http://www.shuipfcms.com/" target="_blank">首页</a> &gt; <a
                href="http://www.shuipfcms.com/help/">帮助</a> &gt; <a
                href="http://www.shuipfcms.com/help/use/">安装使用</a>
        </div>
        <div class="message">
            欢迎加群：166421499 进行使用交流！
        </div>
        <div class="post_data">
            <a href="">{$hdcms.cat_seo_title}</a>
        </div>
    </div>
    <div class="content">
        <div class="list">
            <div class="header">
                我的文章
            </div>
            <div class="article">
                <ul>
                    <li>
                        <a href="">
                            <img src="__TEMPLATE__/image/anli.jpg" alt=""/>
                            <div>
                                <h3>美站说</h3>

                                <p>
                                    他们正在使用ShuipFCMS~案例提交请发送到
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="__TEMPLATE__/image/anli.jpg" alt=""/>
                            <div>
                                <h3>美站说</h3>

                                <p>
                                    他们正在使用ShuipFCMS~案例提交请发送到
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="__TEMPLATE__/image/anli.jpg" alt=""/>
                            <div>
                                <h3>美站说</h3>

                                <p>
                                    他们正在使用ShuipFCMS~案例提交请发送到
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="__TEMPLATE__/image/anli.jpg" alt=""/>
                            <div>
                                <h3>美站说</h3>

                                <p>
                                    他们正在使用ShuipFCMS~案例提交请发送到
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="copyright">
    ©2014 HDPHP&HDCMS来自<a href="http://www.houdunwang.com">后盾网</a> | 唯一教育机构推出的开源产品
</div>
</body>
</html>