<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <css file="__TEMPLATE__/css/image_list.css"/>
    <jquery/>
    <bootstarp/>
</head>
<body>
<div class="top">
    <div class="top_warp">
        <div class="logo">
            <a href="__ROOT__">
                <img src="__TEMPLATE__/image/member_logo.png" alt=""/>
            </a>
        </div>
        <div class="top_menu">
            <div class="top_menu">
                <channel type="top" class="cur">
                    <a href="{$field.caturl}" class="{$field.class}">{$field.catname}</a>
                </channel>
                <include file="__TEMPLATE__/block/login.html"/>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="position">
        <div class="location">
            <location/>
        </div>
        <div class="message">
            {$hdcms.cat_description}
        </div>
        <div class="post_data">
            <a href="{|U:'Member/Content/add',array('mid'=>$hdcms['mid'],'cid'=>$hdcms['cid'])}">{$hdcms.cat_seo_title}</a>
        </div>
    </div>
    <div class="content">
        <div class="list">
            <div class="header">
                {$hdcms.catname}
            </div>
            <div class="article">
                <ul>
                    <pagelist row="1" titlelen="16" infolen="68">
                    <li>
                        <a href="{$field.url}">
                            <div class="thumb">
                                <img src="{$field.thumb}" alt="{$field.title}"/>
                            </div>
                            <div class="content_info">
                                <h3>{$field.title}</h3>
                                <p>
                                    {$field.description}
                                </p>
                            </div>
                        </a>
                    </li>
                    </pagelist>
                </ul>
                <div class="page">
                    <pageshow/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    {$hd.config.copyright}
</div>
<script>
    $("div.article li").hover(function(){
        $(this).find('.content_info').show();
    },function(){
        $(this).find('.content_info').hide();
    })
</script>
</body>
</html>