<!DOCTYPE html>
<html>
<head>
    <title>{$hd.config.webname}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="__TEMPLATE__/css/bootstrap.min.css">
    <!-- Jquery -->
    <script src="__TEMPLATE__/js/jquery.min.js"></script>
    <script src="__TEMPLATE__/js/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="__TEMPLATE__/js/html5shiv.min.js"></script>
    <script src="__TEMPLATE__/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet/less" href="__TEMPLATE__/css/style.less?ver=1.0"/>
    <script type="text/javascript" src="__TEMPLATE__/js/less-1.5.0.min.js"></script>
</head>
<body>
<article class="header container">
    <h1>网站LOGO</h1>
    <!--导航-->
    <nav class=".navbar-fixed-top" role="navigation">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <channel type="top">
                    <li><a href='{$field.url}'>{$field.catname}</a></li>
                </channel>
            </ul>
            <form class="navbar-form navbar-left" role="search" action="__WEB__?g=Hdcms&a=search&c=search">
                <div class="form-group">
                    <input type="text" name='word' class="form-control" placeholder="输入关键字搜索">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">后盾网 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.hdphp.com">HDPHP框架</a></li>
                        <li><a href="http://www.hdphp.com">HDCMS系统</a></li>
                        <li><a href="http://www.kuaixuewang.com">快学网</a></li>
                        <li><a href="http://bbs.houdunwang.com">论坛</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</article>
<!--最新消息-->
<div class="message container">
    <span>最新消息：</span>
    <arclist cid="2" row="1" titlelen=20>
        <a href='{$field.url}'>{$field.title}</a>
    </arclist>
</div>
<!--内容主体-->
<div class="content container">
<div class="row">
<div class="col-md-8">
    <!--置顶推荐-->
    <article class="top">
        <header>置顶推荐</header>
        <ul>
            <arclist row="2" fid="2,3" titlelen="15" infolen="50" type="rand">
                <li class="col-md-6">
                    <a href="{$field.url}">
                        <img src="{$field.thumb}" class="img-rounded sticky"/>

                        <h3 class="title">{$field.title}</h3>

                        <p>
                            {$field.description}
                        </p>
                    </a>
                </li>
            </arclist>
        </ul>
    </article>
    <!--内容列表-->
    <div class="article-list" >
        <header>最新发布<span>(图文)</span></header>
        <pagelist infolen="30" titlelen="20" fid="1,3"  sub_channel="0" cid="8,2,3,5">
            <article>
                <div class="pic">
                    <a href="{$field.url}">
                        <img src="{$field.thumb}" style="width:220px;height: 150px;"/>
                    </a>
                </div>
                <header>
                        <span>
                            {$field.catname}
                            <i class="glyphicon glyphicon-play"></i>
                        </span>
                    <a href="{$field.url}">{$field.title}</a>
                </header>
                <div class="author">
                    <a href="{$field.url}">{$field.author}</a>
                    发表于 {$field.addtime|date_before} -
                    {$field.comment_num}条评论
                </div>
                <p> {$field.description} </p>
            </article>
        </pagelist>
    </div>
</div>
<!--右侧列表-->
<div class="right-list col-md-4">
    <!--热门标签-->
    <article class="tag">
        <header>
            标签云
            <a href="#">标签云</a>
        </header>
        <div>
            <tag row="30" type="hot">
                <a href="{$field.url}">{$field.tag_name}({$field.total})</a>
            </tag>
        </div>
        <!--Tag随机变色-->
        <script>
            $(".tag div a ").each(function (i) {
                var color = ['red', '#428BCA', '#5CB85C', '#D9534F', '#567E95', '#FF8433', '#4A4A4A', '#5CB85C', '#B433FF', '#33BBBA', '#C28F5B'];
                var t = Math.floor(Math.random() * color.length);
                $(this).css({'background-color': color[t]});
            })
        </script>
    </article>
    <!--活跃读者-->
    <article class="reader">
        <header>活跃读者</header>
        <section>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>
            </a>
        </section>
    </article>
    <!--最新评论-->
    <article class="comment">
        <header>最新评论</header>
        <section>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>

                <p class="man">
                    <span>C-Drea</span> 3小时前说：
                </p>

                <p class="content">
                    请问浩哥怎样才能让首页不显示文章摘要，只
                </p>
            </a>
        </section>
        <section>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>

                <p class="man">
                    <span>C-Drea</span> 3小时前说：
                </p>

                <p class="content">
                    请问浩哥怎样才能让首页不显示文章摘要，只
                </p>
            </a>
        </section>
        <section>
            <a href="#">
                <img src="__TEMPLATE__/images/face.png"/>

                <p class="man">
                    <span>C-Drea</span> 3小时前说：
                </p>

                <p class="content">
                    请问浩哥怎样才能让首页不显示文章摘要，只
                </p>
            </a>
        </section>
    </article>
    <!--猜你喜欢-->
    <article class="news">
        <header>
            猜你喜欢
            <a href="#">猜你喜欢</a>
        </header>

        <section>
            <a href="#">
                <h3>详解CSS设置默认字体样式</h3>

                <p>
                    2013-09-12 3评论
                </p>
            </a>
        </section>
        <section>
            <a href="#">
                <h3>详解CSS设置默认字体样式</h3>

                <p>
                    2013-09-12 3评论
                </p>
            </a>
        </section>

    </article>
</div>
</div>
</div>
<!--copyright-->
<footer class="container">
    后盾网PHP培训是唯一拥有开源框架与开源CMS系统的培训机构！ © 2014 <a href="#">后盾网</a> 网站地图
</footer>
</body>
</html>