<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$hd.config.webname}</title>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <css file="__TEMPLATE__/css/index.css"/>
    <jquery/>
    <bootstarp/>
</head>
<body>
<div class="top">
    <div class="top_warp">
        <div class="logo">
            <img src="__TEMPLATE__/image/index_logo.png" title="{$hd.config.webname}"/>
        </div>
        <div class="top_menu">
            <channel type="top">
                <a href="{$field.caturl}">{$field.catname}</a>
            </channel>
            <include file="__TEMPLATE__/block/login.html"/>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="hdphp">
        HDPHP & HDCMS
    </div>

    <div class="download">
        <a href="http://www.hdphp.com/hdphp.zip" class="hdphp"></a>
        <a href="http://www.hdphp.com/hdcms.zip" class="hdcms"></a>
    </div>
    <div class="version">
        100%免费用于任何网站（包括商业网站）&nbsp;&nbsp; | &nbsp;&nbsp;运行环境：MySQL5 + PHP 5.1.6 或以上
    </div>
</div>
<div class="introduce">
    <div class="info">
        <h3>100%免费 ，功能强悍</h3>
        <ul>
            <li class="exp-1">
                <span></span>
                <h5>功能丰富</h5>

                <p>提供众多方便高效的开发网站工具，各种类库包，事件、钩子、插件、扩展模块让你轻松扩展，HDCMS与HDPHP就是这么事半功倍。</p>
            </li>
            <li class="exp-2">
                <span></span>
                <h5>安全高效</h5>

                <p>PHP自动验证、自动完成、字段映射、表单令牌、中文分词、RBAC角色控制、Memcached、Redis、URL全站路由，功能太多了不便一 一描述。</p>
            </li>
            <li class="exp-3">
                <span></span>
                <h5>安全可靠</h5>

                <p>COOKIE加密处理、表单自动验证、强制数据类型转换、表单令牌验证、防SQL注入、图像上传检测，这就是免费奉献给你的安全可靠的PHP产品。</p>
            </li>
        </ul>
    </div>
</div>
<div class="copyright">
    {$hd.config.copyright}
</div>
</body>
</html>