<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>高级搜索</title>
    <hdui bootstrap="true"/>
    <js file="./template/common/js/search.js"/>
    <css file="./template/common/css/search.css"/>
</head>
<body>
<div class="wrap">
    <div class="right">
        后盾网人人做后盾
    </div>
    <div class="left">
        <ul>
            <list from="$data" name="d">
                <li>
                    {$d.title}
                    <span>{$d.addtime|date:"Y-m-d",@@}</span>
                </li>
            </list>
        </ul>
    </div>
    <div class="page1">
        {$page}
    </div>
</div>
</body>
</html>