<include file="header.html"/>
    <!--中间区块--> 
    <div id="content-block">
        <div class="content-block-width">
            <div id="bd">
                <div id="innerpg" class="bd-inner">
                    <!--检查这里是否为一样-->
                    <div class="clearfix layout-innerpg ">
                        <div class="col-main">
                            <div class="main-wrap">
                                <div id='article-view' class="block first-block block-article-view">
                                    <div class="block-head">
                                        <div class="head-inner">
                                            <h2 class="title">公司新闻</h2>
                                        </div>  
                                    </div>
                                    <div class="block-content clearfix">
                                        <div class="article-head">
                                            <h1 class="title">{$hdcms.title}</h1>
                                            <div class="meta">
                                                <span class="item">作者：<span class="yellow">{$hdcms.username}</span></span>
                                                <span class="item">来源：{$hdcms.source}</span>
                                                <span class="item">发布：<span class="grey">{$hdcms.updatetime|date:'Y-m-d',@@}</span></span>
                                            </div>
                                        </div>
                                        <div class="article-content clearfix" style="padding-top:20px;">
                                            {$hdcms.content} 
                                        </div>
                                        <style>
                                            #guanlian {
                                                width: 100%;
                                                height: 30px;
                                                border-top: 1px solid #DEDEDE;
                                            }
                                            
                                            #guanlian li {
                                                width: 50%;
                                                float: left;
                                                height: 30px;
                                                line-height: 30px;
                                                overflow: hidden;
                                            }
                                        </style>
                                        <div class="pages2" id="guanlian">
                                            <pagenext pre=" 上一篇 : " next=" 下一篇 : "/>
                                        </div>
                                    </div>
                                    <div class="block-foot">
                                        <div>
                                            <div>
                                                -
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sub">
                        	
							
							
							
							
							
							
							
							
							
							
							
							<!--  这里的区域不显示  -->
							
							
							
							
                            <div class="block first-block block-products  list-240" id="block-products-108108" rel="108108">
                                <div class="block-head">
                                    <div class="head-inner">
                                        <h2 class="title">产品分类</h2>
                                    </div>
                                </div>
                                <div class="block-content clearfix">
                                    <div class="item-list">
                                        <ul class="clearfix">
                                            <channel type="son" cid="11">
                                                <li>
                                                    <a href="{$field.url}">{$field.catname}</a>
                                                </li>
                                            </channel>
                                        </ul>
                                    </div>
                                </div>
                                <div class="block-foot">
                                    <div>
                                        <div>
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block last-block block-articles  list-240" id="block-articles-108109" rel="108109">
                                <div class="block-head">
                                    <div class="head-inner">
                                        <h2 class="title">热门文章</h2>
                                    </div>
                                </div> 
                                <div class="block-content clearfix">
                                    <div class="item-list">
                                        <ul class="clearfix">
                                            <arclist flag='1' row='5' titlelen='15'>
                                                <li>
                                                    <a title="{$field.title|strip_tags}" href="{$field.url}">{$field.title|strip_tags}</a>
                                                </li>
                                            </arclist>
                                        </ul>
                                    </div>
                                </div>
                                <div class="block-foot">
                                    <div>
                                        <div>
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                        	
							
							
							
							<!--  这里的区域不显示  -->
							
							
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
	<load file="./template/heise_shuma/footer.html"/>