div.top-menu {
  height: 30px;
  display: none;
}
div.top-menu a {
  font-size: 14px;
  color: #226bb0;
}
textarea {
  border: solid 1px #CCCCCC;
  width: 99%;
  height: 100px;
  padding: 5px 0px;
}
div.btn-submit input {
  display: inline-block;
  height: 25px;
  text-align: center;
  background: #226bb0;
  border: solid 1px #226bb0;
  cursor: pointer;
  font-size: 14px;
  margin-top: 6px;
  padding: 0px 10px;
  margin-right: 15px;
  color: #ffffff;
  float: left;
}
div.btn-submit input:hover {
  background: #ffffff;
  color: #226bb0;
}
div#wrap {
  height: auto;
  overflow: hidden;
  /* ===================================--|分页|--========================================*/
  /*当前页*/
  /**上一页与下一页失效状态*/
}
div#wrap div.hd-comment {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 12px;
  padding-bottom: 20px;
  height: auto;
  overflow: hidden;
}
div#wrap div.hd-comment div.send {
  border: 1px solid #c3d4e7;
  padding: 10px;
  height: auto;
  overflow: hidden;
}
div#wrap div.hd-comment div.send h5 {
  padding: 0px;
  margin: 0px;
  height: 25px;
  border-bottom: 1px solid #C3D4E7;
  color: #333;
  line-height: 2em;
}
div#wrap div.hd-comment div.send h5 strong {
  display: block;
  float: left;
}
div#wrap div.hd-comment div.send h5 span {
  float: right;
}
div#wrap div.hd-comment div.send h5 span a {
  text-decoration: none;
  color: #226bb0;
}
div#wrap div.hd-comment div.send div.posn {
  clear: both;
  padding-top: 10px;
  padding-bottom: 15px;
}
div#wrap div.hd-comment div.send div.posn img {
  vertical-align: middle;
}
div#wrap div.hd-comment div.send div.hd-comment-login {
  float: left;
  padding-top: 12px;
}
div#wrap div.comment-list {
  border: 1px solid #C3D4E7;
  padding: 8px 15px;
  margin-top: 20px;
}
div#wrap div.comment-list h5 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  height: 25px;
  line-height: 2em;
  font-weight: normal;
}
div#wrap div.comment-list h5 span.time {
  color: #999999;
  font-size: 12px;
}
div#wrap div.comment-list div.comment-content {
  font-size: 12px;
  background: #f6f9fb;
  border: 1px solid #c4d5df;
  padding: 6px 10px;
  margin: 10px 0;
  height: auto;
  overflow: hidden;
}
div#wrap div.comment-list div.comment-content span.comment-info {
  font-size: 12px;
  color: #004499;
  display: block;
  font-family: tahoma, arial;
  padding-bottom: 5px;
}
div#wrap div.comment-list div.comment-content div.comment-reply {
  float: right;
}
div#wrap div.comment-list div.comment-content div.comment-reply a {
  text-decoration: none;
  color: #226bb0;
  font-weight: bold;
}
div#wrap div.comment-list div.comment-content div.reply {
  margin-top: 10px;
  display: none;
}
div#wrap div.comment-list div.line {
  border-bottom: dashed 1px #DDDDDD;
  position: relative;
  top: -15px;
  height: 30px;
  overflow: hidden;
}
div#wrap div.page1 {
  margin-top: 20px;
  margin-left: 10px;
  float: right;
  color: #666;
}
div#wrap div.page1 strong,
div#wrap div.page1 a {
  padding: 3px 10px;
  display: block;
  float: left;
  border: solid 1px #dcdcdc;
  margin-right: 5px;
  font-size: 12px;
}
div#wrap div.page1 span.close {
  padding: 3px 10px;
  display: block;
  float: left;
  font-size: 12px;
  border: solid 1px #dcdcdc;
  margin-right: 5px;
  color: #ccc;
  cursor: no-drop;
}
div#wrap div.page1 strong {
  display: block;
  font-size: 12px;
  float: left;
  background: none repeat scroll 0 0 #488FCF !important;
  border-color: #2470B5 #488FCF #488FCF;
  color: #FFFFFF !important;
}
div#wrap div.page1 a {
  color: #333;
  float: left;
  display: block;
  text-decoration: none;
}
div#wrap div.page1 a:hover {
  background: none repeat scroll 0 0 #488FCF !important;
  border-color: #2470B5 #488FCF #488FCF;
  color: #FFFFFF !important;
}
div#wrap div.page1 span.count {
  font-size: 12px;
  float: left;
  display: block;
  margin-right: 5px;
  padding: 3px 10px;
}
