body, h1, h2, h3, ul, li, ol, dt, dd {
    padding: 0px;
    margin: 0px;
}

ul, ol {
    list-style: none;
}

a {
    color: #555555;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-out 0s, color 0.1s ease-out 0s;
}

body {
    color: #333333;
    font: 14px/22px "微软雅黑", "宋体", Arial;
}
.c7{
    color:#777777;
}
.c9{
    color: #999999;
}