@import "common.css";

div.content {
    width: 68%;
    float: left;
	padding:20px;
	font-size:16px;
	line-height:2em;
    background:#ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    min-height: 350px;
}

div.content h1 {
    font-size: 34px;
    color: #333333;
    margin-bottom: 10px;
}

div.content div.info {
    margin-bottom: 20px;
	border-bottom: solid 3px #ddd;
	padding-bottom:10px;	
}

div.content div.info a {
    color: #0078B6;
    font-weight: bold;
}

div.content div.info a:hover {
    text-decoration: underline;
}

div.content div.info span {
    color: #999999;
}

div.content div.info a.reply {
    float: right;
    font-weight: bold;
    margin-right: 10px;
}

div.content p {
    word-wrap: break-word;
    color: #383838;
    text-indent: 2em;
}
div.comment{
    width: 68%;
    clear: both;
    padding: 20px;
    margin-top:20px;
    background: #ffffff;
}