<channel type="top">
    <a href="{$field.caturl}" class="base">{$field.catname}</a>
</channel>
<a href="http://bbs.houdunwang.com/forum-105-1.html" target="_blank">讨论</a>
<if value="$hd.session.user.uid">
        <a href="{|U:'Member/Login/login'}" class="login">
            <img src="{$hd.session.user.icon}" class="user"/> {$hd.session.user.username}
        </a>
    <else>
        <a href="{|U:'Member/Login/login'}" class="login">
            <img src="__ROOT__/HDCMS/Static/image/user.png" class="user"/> 登录
        </a>
</if>