body {
  background: #2d3b5d;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
div.header {
  border-bottom: solid 1px #495b88;
}
div.header div.top-box {
  width: 960px;
  height: 56px;
  background: url("../image/download_hdcms.png") no-repeat;
  margin: 0px auto;
}
div.header div.top-box div.channel {
  float: right;
  margin-top: 20px;
}
div.header div.top-box div.channel a {
  color: #fff;
  opacity: 0.5;
  display: block;
  margin-right: 20px;
  float: left;
}
div.header div.top-box div.channel a:hover {
  opacity: 1;
}
div.middle {
  padding-top: 50px;
}
div.middle div.title {
  margin: 0 auto;
  width: 320px;
  height: 70px;
}
div.middle div.down-btn {
  text-align: center;
  height: 50px;
}
div.middle div.down-btn a {
  border: solid 1px #999;
  padding: 10px 30px;
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  opacity: 0.6;
}
div.middle div.down-btn a:hover {
  background: #435379;
  opacity: 0.8;
}
div.middle div.info {
  text-align: center;
  color: #838998;
  font-size: 0.85em;
}
div.middle div.thumb {
  width: 550px;
  margin: 0px auto;
  padding-top: 20px;
}
div.middle div.thumb img {
  width: 550px;
}
div.log {
  background: #F3F3F3;
  padding: 20px;
  font-family: '微软雅黑';
}
div.log div.logList {
  width: 600px;
  margin: 0 auto;
}
div.log div.logList h3 {
  font-size: 18px;
  font-weight: bold;
}
div.log div.logList p {
  font-size: 14px;
}
div.copyright {
  padding: 20px 0px 30px 0px;
  background: #DDDDDD;
  width: 100%;
  padding-bottom: 10px;
}
div.copyright div.text {
  width: 960px;
  margin: 0 auto;
  font-size: 14px;
  color: #333;
  opacity: 1;
  text-align: center;
}
